<style>
    footer{
        position:absolute;
        bottom: 0;
        width: 100%;
    }  
    
    body, html{
    border:0;
    padding:0;
    margin:0;
}
</style>

<footer class="navbar fixed-bottom bg-light">
    <div class="container">

  

    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-address-book"></i>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a porta lacus. Integer lacinia dui quam, a consectetur massa tincidunt eu

        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a porta lacus. Integer lacinia dui quam, a consectetur massa tincidunt eu

        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a porta lacus. Integer lacinia dui quam, a consectetur massa tincidunt eu

        </div>
    </div>
</div>
</footer>
