<footer class="navbar fixed-bottom bg-light">
    <div class="container">

  

    <div class="row">
        <div class="col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a porta lacus. Integer lacinia dui quam, a consectetur massa tincidunt eu

        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a porta lacus. Integer lacinia dui quam, a consectetur massa tincidunt eu

        </div>
        <div class="col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a porta lacus. Integer lacinia dui quam, a consectetur massa tincidunt eu

        </div>
    </div>
</div>
</footer>