{% load static %}
<!DOCTYPE html>
<html>
<title>McNobzy</title>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<style>
  
</style>
<body>
  <script href="{% static '/bootstrap.min.js' %}"></script>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">McNobzy Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search" method="POST" action="search">
            {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" name="search_bar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

      <header class="nav-bar">
        <!-- {% if user.is_authenticated %}
          <h1>Welcome, {{user.username}}</h1>
        {% else %}
          <h1>Welcome</h1>
        {% endif %} -->
        <ul>
            <li class="nav-item">
                <a href="/">home</a>
                {% if user.is_authenticated %}
                  <a href="/logout">Logout</a>
                  <a href="create">Create Post</a>
                {% else %}
                  <a href="/login">Login</a>
                  <a href="/register">register</a>
                {% endif %}
                  <!-- <a href="http://">Option5</a> -->
            </li>
        </ul>
    </header>
    <h1 class="display-1">Welcome to <a href="/">McNobzy's Blog</a></h1>
    <h1 class="display-1">Does this work?</h1>
   
    {% if user.is_authenticated %}
    <h1>Welcome {{user.username}} | <a href="/logout">Logout</a>| <a href="create">Create Post</a> </h1>
    {% else %}
    <h1>Welcome | <a href="/login">Login</a> </h1>
    {% endif %}

    <h2>Search results for {{search_term}}</h2>
    {% for post in posts reversed %}
    
        <div class="container-md">
            <a href="/post/{{post.id}}" style="text-decoration: none;"><h2>{{post.title}}</h2></a>

            <p>by <a style="text-decoration:none" href="author/{{post.author.id}}/{{post.author.username}}">{{post.author}}</a> at {{post.posted_at}}</p>
            <p>{{post.body|truncatewords:20}}</p>
        </div>
    {% endfor %}

</body>
</html>

